i .footer-logo {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}